
body {
  background-color: #f7e8dc;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

// Colors
// $lightPeach:#f7e8dc;
// $bloodOrange: #ec755d;
// $lightBloodOrange: #ff9b87;
// $darkSkyBlue:#76b4bb;
// $lightSkyBlue: #b4dfe5;
